.player-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;

  &__arrow {
    width: 4rem;
    &:hover {
      cursor: pointer;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    background-color: #57cc99;
    align-items: center;
    padding: 2rem;
  }

  &__title {
    color: white;
    padding: 1rem 0;
  }

  &__name {
    padding: 1rem 0;
    text-align: center;
  }

  &__value {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  &__labels {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    text-decoration: underline;
  }
}
