.team-hero {
  background: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
    url(../../assets/images/team-photo.jpg) no-repeat;
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    display: flex;
    background-color: #22577a;
    font-weight: 600;
    text-decoration: none;
    color: white;
    border-radius: 2rem;
    height: 4rem;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
  }
}

.signup {
  &__space {
    margin: 2rem;
  }

  &__title {
    margin-bottom: 1rem;
    text-align: center;
  }
}
