.team-list {
  &__title {
    margin-bottom: 1rem;
    background-color: #57cc99;
    padding: 2rem;
    color: white;
  }

  &__box {
    padding: 2rem;
  }

  &__filters {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__filter-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__filtered-value {
    margin: 0.5rem 0;
  }

  &__key,
  &__values {
    &:hover {
      cursor: pointer;
      background-color: lightgray;
    }
  }

  &__label,
  &__value {
    padding: 0 2rem;
    width: 33%;
    border: 1px solid black;
  }
}
